<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/bfContextHelp.xml"
            plugin="org.birenheide.bf">
      </contexts>
      <contexts
            file="help/debugContextHelp.xml"
            plugin="org.birenheide.bf.debug">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/bfToc.xml"
            primary="true">
      </toc>
      <toc
            file="help/toc.xml">
      </toc>
   </extension>

</plugin>
