<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="luna" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
<!--
<includeBundles>
<feature id="org.eclipse.e4.rcp"/>
<feature id="org.eclipse.e4.rcp.source"/>
<feature id="org.eclipse.help"/>
<feature id="org.eclipse.help.source"/>
<feature id="org.eclipse.jdt"/>
<feature id="org.eclipse.jdt.source"/>
<feature id="org.eclipse.platform"/>
<feature id="org.eclipse.platform.source"/>
<feature id="org.eclipse.rcp"/>
<feature id="org.eclipse.rcp.source"/>
<feature id="org.eclipse.sdk"/>
</includeBundles>
-->
</target>
